/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ece5dc, #d6ccc2);
  color: #3e2f2f;
}

/* CONTAINER */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* CARD (EFEK TIMBUL) */
.card {
  background: #fffaf3;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* FOTO */
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #a47148;
}

/* TITLE */
h1 {
  font-size: 24px;
}

h2 {
  margin-bottom: 10px;
  color: #a47148;
}

/* LIST */
ul {
  padding-left: 20px;
}